.form-container {
    background-color: #fff;
    width: 130vh;
    height: 60vh;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    animation: slideIn 1s ease;
  }

.image-container {
    flex: 1;
    padding: 20px;
    background: url('../../Assets/gameImage.png');
    background-size: contain;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    animation: rotateImage 10s linear infinite;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
}

.login-container {
    flex: 1;
    padding: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.login-container form {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container label {
    font-size: 1rem; 
    font-weight: bold;
    margin-bottom: 10px;
    color: #2ca436; 
}

.login-container input {
    padding: 12px;
    margin: 8px 0;
    border: 2px solid #2ca436; 
    border-radius: 5px;
    font-size: 1rem;
}

.login-container button {
    padding: 12px;
    margin: 12px 0;
    background-color: #2ca436; 
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem; 
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #117036;
    animation: none;
}

.login-container a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold; 
}

.login-container a:hover {
    text-decoration: underline;
    animation: none;
}
