.games-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.game-card {
  width: 300px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.game-card img {
  max-width: 100%;
  height: 15rem;
}

.game-details {
  margin-top: 10px;
}

.play-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.play-button:hover {
  background-color: #0056b3;
}

.deactivated-button {
  padding: 10px;
  background-color: #ccc; 
  color: #777; 
  opacity: 0.7; 
  cursor: not-allowed; 
}
